<div id="car">
    <div id="suggestions">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/movie/<%= suggestions[0].title %>">
                <img src="<%= suggestions[0].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[0].title %>">
                <div class="carousel-caption w-80 text">
                  <h5> <%= suggestions[0].title %></span> <span class="rating"><%= suggestions[0].ratings %></span></span> </h5>
                  <p> <%= suggestions[0].description.slice(0,300) %> </p>
                </div>
            </a>
            </div>
              <div class="carousel-item">
                <a href="/movie/<%= suggestions[1].title %>">
                  <img src="<%= suggestions[1].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[1].title %>">
                  <div class="carousel-caption w-80 text">
                    <h5> <%= suggestions[1].title %></span> <span class="rating"><%= suggestions[1].ratings %></span></span> </h5>
                    <p> <%= suggestions[1].description.slice(0,300) %> </p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="/movie/<%= suggestions[2].title %>">
                  <img src="<%= suggestions[2].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[2].title %>">
                  <div class="carousel-caption w-80 text">
                    <h5> <%= suggestions[2].title %></span> <span class="rating"><%= suggestions[2].ratings %></span></span> </h5>
                    <p> <%= suggestions[2].description.slice(0,300) %> </p>
                  </div>
              </a>
              </div>
             <div class="carousel-item">
              <a href="/movie/<%= suggestions[3].title %>">
                <img src="<%= suggestions[3].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[3].title %>">
                <div class="carousel-caption w-80 text">
                  <h5> <%= suggestions[3].title %></span> <span class="rating"><%= suggestions[3].ratings %></span></span> </h5>
                  <p> <%= suggestions[3].description.slice(0,300) %> </p>
                </div>
            </a>
             </div>
              <div class="carousel-item">
                <a href="/movie/<%= suggestions[4].title %>">
                  <img src="<%= suggestions[4].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[4].title %>">
                  <div class="carousel-caption w-80 text">
                    <h5> <%= suggestions[4].title %></span> <span class="rating"><%= suggestions[4].ratings %></span></span> </h5>
                    <p> <%= suggestions[4].description.slice(0,300) %> </p>
                  </div></a>
              </div>
             <div class="carousel-item">
              <a href="/movie/<%= suggestions[5].title %>">
                <img src="<%= suggestions[5].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[5].title %>">
                <div class="carousel-caption w-80 text">
                  <h5> <%= suggestions[5].title %></span> <span class="rating"><%= suggestions[5].ratings %></span></span> </h5>
                  <p> <%= suggestions[5].description.slice(0,300) %> </p>
                </div></a>
             </div>
             <div class="carousel-item">
              <a href="/movie/<%= suggestions[6].title %>">
                <img src="<%= suggestions[6].images[0] %>" class="d-block w-100 car-img" alt="<%= suggestions[6].title %>">
                <div class="carousel-caption w-80 text">
                  <h5> <%= suggestions[6].title %></span> <span class="rating"><%= suggestions[6].ratings %></span></span> </h5>
                  <p> <%= suggestions[6].description.slice(0,300) %> </p>
                </div>
              </a>
             </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div id="trending">
           <div class="trend-header">
            Trending Today
           </div>
      <% trending['movies'].forEach(movie=>{ %>
        <a href="movie/<%= movie.title %>" style="text-decoration: none;" >
          <div class="trend-item">
            <img src="<%= movie.images[0] %>" alt="<%= movie.title %>" class="trend-img">
            <div class="trend-text">
                <h5> <%= movie.title %>  </h5>
               <p> <%= movie.description.slice(0,300)  %> </p>
            </div>
          </div>
        </a>
        <% }) %>
      
         
      <% trending['shows'].forEach(show=>{ %>
       <a href="/show/<%= show.title %>" style="text-decoration:none" >
        <div class="trend-item">
          <img src="<%= show.images[0] %>" alt="<%= show.title %>" class="trend-img">
          <div class="trend-text">
              <h5> <%= show.title %>  </h5>
             <p> <%= show.description.slice(0,300)  %> </p>
          </div>
        </div>
       </a>
        
        <% }) %>
      
    </div>
</div>