<div id="genre-container">
    <div id="genres">
       <% category.forEach(catg=>{ %>
        <div class="genre"><%= catg %></div>
        <% }) %>
    </div>
    <div id="buttons">
        <a style="text-decoration: none;color:inherit" href="/watchlist/<%= id %>/<%= type %>">
            <div class="button">
           +Watchlist
            </div>
        </a>
       
        <a style="text-decoration: none;color:inherit" href="/upvote/<%= id %>/<%= type %>">
            <div class="button">
            Upvote
            </div>
        </a>
      
        <div class="button">
            <a style="text-decoration: none;color:inherit" href="#">More like this</a>
        </div>
    </div>
</div>