<div id="rev-container">
    <div id="rate">
        <h2>Rate</h2>
        <form action="/add_rev/<%= title %>/<%= type %>" method="POST">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <div class="star-widget">
                <input type="radio" name="rate" id="rate-5" style="display:none" value="5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4" style="display:none" value="4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3" style="display:none" value="3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2" style="display:none" value="2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1" style="display:none" value="1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
            <textarea name="content" id="content" cols="80" rows="12" style="font-size:18px;" required>Write your review</textarea>
            <button type="Submit" id="btn">
                  Submit
              </button>
        </form>
    </div>
    <div id="reviews">
        <h2 style="text-align:center;font-size:32px;font-weight: 450;">Reviews</h2>
        <% if(reviews.length == 0) { %>
            <h3 style="text-align:center;font-size:32px;font-weight: 450;">No reviews found!!</h3>
            <% } else { %>
                <div id="revs">
                    <% reviews.forEach(review=>{ %>
                        <div class="review">
                            <h3><%= review.user.name %> <span class="user-rate"><%= review.rating %></span></h3>
                            <p><%= review.content %></p>
                        </div>
                        <% }) %>
                    
        
                    <% if(reviews.length  > 20){ %>
                        <a href="/review/name" style="text-decoration: none;color:inherit">
                            <h4 id="all">See all reviews..</h4>
                        </a>
                        <% } %>
                </div>
        <% } %>
    </div>
</div>