<div id="item-container">
    <% movies.forEach(movie=>{ %>
       
       <div class="item">
        <div class="item-image">
            <img src="<%= movie.images[0] %>" alt="<%= movie.title %>">
        </div>
        <div class="mov-info">
            <div class="mov-title"> 
                <a href="/movie/<%= movie.title %>" style="text-decoration:none;color: inherit;">
                    <%= movie.title %> <strong class="rating"><%= movie.ratings %></strong>
                </a>
               
                
                </div>
            <div class="genres"><%= movie.category[0] %>.....</div>
            <div class="cast"><%= movie.casts[0].actor_name %>,<%= movie.casts[1].actor_name %>,<%= movie.casts[2].actor_name %>,<%= movie.casts[3].actor_name %>......</div>
            <div class="description"><%= movie.description %></div>
           <div class="mob-upvote">Votes:<strong class="val"><%= movie.likeCount %></strong></div>
           <a href="/watchlist/<%= movie._id %>/movie" style="text-decoration: none;color:inherit">
            <div class="mob-button">
                +Watchlist
            </div>
        </a>
           
        </div>
        <div class="buttons">
            <div class="votes">Votes:<strong style="color:#D8B814;"><%= movie.likeCount%></strong></div>
            <div class="other_watch" id="other-lists">Watchlists:<strong class="val"><%= movie.movieListCount%></strong></div>
            <a href="/upvote/<%= movie._id %>/movie" style="text-decoration: none;color:inherit">
            <div class="btn" id="up-vote">
                Upvote        
            </div>
        </a>
        <a href="/watchlist/<%= movie._id %>/movie" style="text-decoration: none;color:inherit">
            <div class="btn" id="delete">
               +Watchlist        
            </div>
        </a>
           
        </div>
    </div>
        <% }) %>
    <% shows.forEach(show=>{ %>
       
        <div class="item">
            <div class="item-image">
                <img src="<%= show.images[0] %>" alt="<%= show.title %>">
            </div>
            <div class="mov-info">
                <div class="mov-title">  
                    <a href="/show/<%= show.title %>" style="text-decoration:none;color: inherit;">
                        <%= show.title %> <strong class="rating"><%= show.ratings %></strong>
                    </a>
                </div>
                <div class="genres"><%= show.category[0] %>.....</div>
                <div class="cast"><%= show.casts[0].actor_name %>......</div>
                <div class="description"><%= show.description %></div>
               <div class="mob-upvote">Votes:<strong class="val"><%= show.likeCount %></strong></div>
               <a href="/watchlist/<%= show._id %>/show" style="text-decoration: none;color:inherit">
                <div class="mob-button">
                    +Watchlist
                </div>
            </a>
            </div>
            <div class="buttons">
                <div class="votes">Votes:<strong style="color:#D8B814;"><%= show.likeCount%></strong></div>
                <div class="other_watch" id="other-lists">Watchlists:<strong class="val"><%= show.movieListCount%></strong></div>
                <a href="/upvote/<%= show._id %>/show" style="text-decoration: none;color:inherit">
                    <div class="btn" id="up-vote">
                    Upvote
                    </div>
                </a>
                <a href="/watchlist/<%= show._id %>/show" style="text-decoration: none;color:inherit">
                    <div class="btn" id="delete">
                    +Watchlist
                    </div></a>
               
            </div>
        </div>
        <% }) %>
</div>