<div class="ep-row">
  <% actor_movies.forEach(mov=>{ %>
    <a href="/movie/<%= mov.title %>" style="text-decoration: none;color:inherit">
        <div class="episode">
            <img src="<%= mov.images[0] %>" alt="episode">
            <h4><%= mov.title %></h4>
        </div></a>
    <% }) %>
   <% actor_shows.forEach(show=>{ %>
   <a href="/show/<%= show.title %>" style="text-decoration: none;color:inherit">
    <div class="episode">
        <img src="<% show.images[0] %>" alt="episode">
        <h4><%= show.title %></h4>
    </div>
</a>
    <% }) %>
   
</div>